@font-face {
    font-family: gooddp;
    src: url('gooddp-webfont.woff2') format('woff2'),
         url('gooddp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    scrollbar-width: thin;
    cursor: url(../assets/select.cur),auto;
    margin-right: 15vw;
    margin-left:15vw;
    background-color:#afb9c8;
}

#canvas {
    padding:auto;
}
#game {
    position: relative;
    overflow: hidden;
}

#menu {
    position: relative;
    background: url('../assets/startbg.jpg') no-repeat ;
    background-size: cover;
    height: 100vh;
}
 
#menu #title-image {
    background:url('../assets/title.png') no-repeat;
    background-size: contain;
    position: absolute;
    top:15%;
    left:30%;
    height: 45%;
    width: 40%;
}

.ctdbutton{
    background: url('../assets/buttonNormal.png')no-repeat;
    font-family: gooddp;
    color:#fff;
    text-align: center;
}
.ctdbutton:hover{
    background: url('../assets/buttonHover.png')no-repeat;
}

#menu #play-button {
    position: absolute;
    top:75%;
    left:35%;
    height: 60px;
    width: 292px;
    font-size: 35px;
}
#play-button h3 {
    padding:10px;
}

.rotate {
    animation: rotation 2s infinite linear;
  }

  #music-button {
    position: absolute;
    height: 42px;
    width: 42px;
    opacity: 0.8;
  }
  #music-button:hover {
      opacity: 1;
  }

  .credits {
      font-size: 32px;
      font-family: gooddp;
      color:white;
      position: absolute;
      top: 10px;
      right:10px
  }
#levels {
    position: absolute;
    padding-top:20vh;
    padding-left:5vw;
    height: 95vh;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    scrollbar-width: thin;
}

#levels .level {
    height: 25%;
    width: 128px;
    margin-right:5vw;
    margin-bottom: 7vh;
    padding-top:45px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: #fff;
    font-family: gooddp;
}

#back-button {
    position: absolute;
    left:5vw;
    top:5vh;
    background:url('../assets/backNormal.png') no-repeat;
    background-size: contain;
    height:80px;
    width: 80px;
}
#back-button:hover{
    background:url('../assets/backHover.png') no-repeat;
    background-size: contain;
}
#restart-button {
    position: absolute;
    left:28%;
    bottom:17%;
    background:url('../assets/restart.png') no-repeat;
    background-size: contain;
    height:44px;
    width: 44px;
    opacity: 0.8;
}
#restart-button:hover {
    opacity: 1;
}
#gameover-menu{
    position: absolute;
    top:70vh;
    left:35vw;
}
.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.button-group .inside-button {
    background-size: 100% 50px;
    height:50px;
    width: 130px;
    font-size:32px;
    padding-top: 7px;
    margin:10px;
}